In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

<ipython-input-1-e456d7f40152>:18: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [3]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School"),["reading_score"]]=np.nan

In [4]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df["grade"] == "9th") & (student_data_df["school_name"] == "Thomas High School"),["math_score"]]=np.nan

In [5]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635

In [81]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [82]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [83]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 

thomas_ninth = school_data_complete_df.loc[(school_data_complete_df["grade"] == "9th") & (school_data_complete_df["school_name"] == "Thomas High School")]

In [84]:
thomas_ninth_count = thomas_ninth["Student ID"].count()

In [85]:
thomas_ninth_count

461

In [86]:
thomas_ninth_count

461

In [87]:
student_count

39170

In [88]:
new_total_student_count = student_count - thomas_ninth_count
new_total_student_count

38709

In [89]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
thomas_tenth = student_data_df.loc[(student_data_df["grade"] == "10th") & (student_data_df["school_name"] == "Thomas High School")]
thomas_eleventh = student_data_df.loc[(student_data_df["grade"] == "11th") & (student_data_df["school_name"] == "Thomas High School")]
thomas_twelfth = student_data_df.loc[(student_data_df["grade"] == "12th") & (student_data_df["school_name"] == "Thomas High School")]

thomas_tenth_count = thomas_tenth["Student ID"].count()
thomas_eleventh_count = thomas_eleventh["Student ID"].count()
thomas_twelfth_count = thomas_twelfth["Student ID"].count()

thomas_ten_to_twelve = thomas_tenth_count + thomas_eleventh_count + thomas_twelfth_count

In [90]:
# Step 6. Get all the students passing math from THS
thomas_passing_math = school_data_complete_df.loc[(student_data_df["school_name"] == "Thomas High School") & (school_data_complete_df["math_score"] >= 70)]

In [91]:
# Step 7. Get all the students passing reading from THS
thomas_passing_reading = school_data_complete_df.loc[(student_data_df["school_name"] == "Thomas High School") & (school_data_complete_df["reading_score"] >= 70)]

In [92]:
# Step 8. Get all the students passing math and reading from THS


# Calculate the students who passed both reading and math.
# per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               #& (school_data_complete_df["math_score"] >= 70)]

thomas_passing_reading_math = school_data_complete_df.loc[(school_data_complete_df["school_name"] == "Thomas High School")
                                                  & (school_data_complete_df["reading_score"] >= 70)  
                                              & (school_data_complete_df["math_score"] >= 70)]

In [93]:
thomas_passing_reading_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
37535,37535,Norma Mata,F,10th,Thomas High School,76.0,76.0,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84.0,82.0,14,Charter,1635,1043130
37541,37541,Eric Stevens,M,10th,Thomas High School,80.0,76.0,14,Charter,1635,1043130
37542,37542,Elizabeth Bennett,F,11th,Thomas High School,91.0,94.0,14,Charter,1635,1043130
37544,37544,Jacqueline Harris,F,10th,Thomas High School,71.0,92.0,14,Charter,1635,1043130
...,...,...,...,...,...,...,...,...,...,...,...
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [94]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
thomas_overall_passing = thomas_passing_reading_math["Student ID"].count()

In [95]:
thomas_overall_passing

1064

In [96]:
thomas_overall_passing_pct = (thomas_overall_passing / thomas_ten_to_twelve) * 100

In [98]:
thomas_overall_passing_pct

90.63032367972743

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.

per_school_summary_df.loc[(per_school_summary_df[""])]