In [8]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [4]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [1]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [7]:
for test in high_school_types:
    print(test)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [9]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [11]:
# add the Pandas dependency
import pandas as pd

In [13]:
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [14]:
for item in school_series:
    print(item)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [ ]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [17]:
school_df = pd.DataFrame(high_school_types)
school_df

  High School      Type
0     Griffin  District
1    Figueroa  District
2      Wilson   Charter
3      Wright   Charter

In [25]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
               "Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [26]:
# Initialize empty dataframe
schools_df = pd.DataFrame()

In [28]:
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [29]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [31]:
high_schools_dict_df = pd.DataFrame(high_schools_dict)
high_schools_dict_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [32]:
schools_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')